.entries {
    background-color: rgba(109, 94, 76, 0.63);
    overflow: auto;
    padding: 40px 10px;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    min-height: 800px;
}

.DiaryCard {
    width: 30%;
    padding: 10px;
    align-items: center;
    margin: 10px 10px;
    float: left;
    background-color: rgba(253, 198, 108, 0.904);
    border-radius: 15px;

}

.DiaryCardBody {
    height: 90px;
    overflow: hidden;
    text-align: justify;
    text-overflow: ellipsis;
    font-size: 20px;
    padding: 0 20px;
    color: rgb(70, 64, 64);
}

.footer {
    clear: both;
}

.DiaryCardHeader h2 {
    margin: 0;
    background: #a15f0d;
    padding: 10px;
    border-radius: 15px;

}

.DiaryCardHeader h3 {
    color: #ffffff
}

.DiaryCardButtons {
    margin: 5px 2px;
}

.DiaryCardButtons button {
    cursor: pointer;
    margin: 0px 3px;
    padding: 5px 10px;
    font-size: 12px;
    color: #ffffff;
    background-color: #a15f0d;
    border: none;
    border-radius:5px;

}