.EntryForm {
    width: 70%;
    margin: auto;
    padding: 30px;
    background-color: rgba(20, 18, 18, 0.8);
    min-height: 500px;
}


.EntryFormButtons a, .EntryFormButtons button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 5px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
    background: #a75114;
    color: #ffffff;
    margin: 0 10px;
}

.EntryFormButtons a:hover{
  background: #db8a5c;
}