/*Home page*/
#home {
  background-image: url("../../assests/img/homepagebg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 890px;
}

.home-col {
  float: left;
  padding: 40px 30px;
  width: 630px;
  margin: 0 20px 0 0;
}

#home-msg {
  color: rgb(233, 209, 132);
  padding: 30% 0% 0% 35%;
}

#home-msg li {
  padding: 5%;
  list-style: none;
  margin: 3% 0%;
  width: 60%;
  border-radius: 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.color1 {
  background: #2d7da4;
}

.color2 {
  background: #6aa42f;
}

.color3 {
  background: #ffcc33;
}

.color4 {
  background: #db3615;
}

/*End of home page style*/

/*Form styling*/

.form {
  background: rgba(37, 27, 26, 0.8);
  padding: 40px;
  width: 400px;
  max-width: 500px;
  border-radius: 4px;
  // margin-left: 100px;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.tab-group div {
  display: inline;
}

.tab-group div a {
  display: block;
  text-decoration: none;
  padding: 15px 0px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
}

.tab-group div a:hover {
  background: #db8a5c;
  color: #ffffff;
}

.tab-group .active a {
  background: #a75114;
  color: #ffffff;
}

.tab-content>div:last-child {
  display: none;
}

h1,
h2 {
  text-align: center;
  color: #e9d18f;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  top: -22px;
  color: #e9d18f;
}

label .req {
  margin: 2px;
  color: #db8a5c;
}

label.active {
  left: 2px;
  font-size: 14px;
}

label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input,
textarea {
  font-size: 22px;
  display: block;
  padding: 10px 0;
  width: 100%;
  background: none;
  background-image: none;
  border: 1px solid #db8a5c;
  color: #ffffff;
  border-radius: 0;
  margin-bottom: 10px;
}

input:focus,
textarea:focus {
  outline: 0;
  border-color: #b7a170;
}

textarea {
  border: 2px solid #db8a5c;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}

.top-row>div {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.top-row>div:last-child {
  margin: 0;
}

/*End of form styling*/